@if (todos(); as todos) {
  <div class="container">
    <div class="header">
      <!--      <mat-form-field class="example-full-width">-->
      <!--        <mat-label>Search</mat-label>-->
      <!--        <input-->
      <!--          matInput-->
      <!--          placeholder="Search String"-->
      <!--          [formControl]="searchControl"-->
      <!--        />-->
      <!--      </mat-form-field>-->

      <mat-form-field class="example-full-width">
        <mat-label>Search Model</mat-label>
        <input
          matInput
          placeholder="Search String"
          [(ngModel)]="todosService.searchModel"
        />
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="launchCreateTodo()">
        New Todo
      </button>
    </div>

    <table
      mat-table
      [dataSource]="todos.items"
      matSort
      (matSortChange)="todosService.sorting.set($event)"
    >
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="id">No.</th>
        <td mat-cell *matCellDef="let todo">{{ todo.id }}</td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="title">Title</th>
        <td mat-cell *matCellDef="let todo">{{ todo.title }}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let todo">{{ todo.description }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let todo">
          <app-status-card
            [status]="todo.status"
            (changeStatus)="handleChangeStatus(todo)"
          ></app-status-card>
        </td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="createdAt">
          Created At
        </th>
        <td mat-cell *matCellDef="let todo">{{ todo.createdAt | date }}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Delete</th>
        <td
          mat-cell
          *matCellDef="let todo"
          (click)="delete(todo)"
          class="delete"
        >
          <mat-icon>delete</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    @if (todos.totalCount > 0) {
      <div>
        <mat-paginator
          [length]="todos.totalCount"
          [pageIndex]="todosService.paging().pageIndex"
          [pageSizeOptions]="[10, 20]"
          (page)="todosService.paging.set($event)"
          showFirstLastButtons="true"
        ></mat-paginator>
      </div>
    } @else {
      <div>
        @if (todos.items.length === 0) {
          <h3 class="text-platinum text-center pt-10">No records found</h3>
        }
      </div>
    }
  </div>
}
