<div>
  <nav>
    <ul>
      <li>
        <a
          routerLink="/"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          Home
        </a>
      </li>
      <li>
        <a
          routerLink="/change"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          Change Detection Demo
        </a>
      </li>
      <li>
        <a
          routerLink="/todo-table"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          Todos
        </a>
      </li>
      <li>
        <a
          routerLink="/fancy-todos"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          Fancy Todos
        </a>
      </li>
    </ul>
  </nav>

  <router-outlet></router-outlet>
</div>
